@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    } 
}

@keyframes scaleAndRotate {
    from {
        transform: scale(0) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
  
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes wobble {
    0% {
      transform: none
    }
    15% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg)
    }
    30% {
      transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 3deg)
    }
    45% {
      transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -3deg)
    }
    60% {
      transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 2deg)
    }
    75% {
      transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg)
    }
    100% {
      transform: none
    }
  }