.header {
    grid-area: hd;
}
.footer {
    grid-area: ft;
}
.content {
    grid-area: con;
}
.sidebar {
    grid-area: sd;
}

 .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "hd hd hd hd  hd hd hd hd  hd hd hd hd"
      "sd sd sd con con con con con  con con con con"
      "ft ft ft ft  ft ft ft ft  ft ft ft ft";
}

@media (max-width: 800px) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-areas: 
        "hd"
        "sd"
        "con"
        "ft";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
 }