<template>
  <div class="ms--video-navigation-container">
    <v-btn
      class="ma-2"
      color="primary"
      value="newVideo"
      v-on:click="goToRandomVideo(seriesId)"
      dark
    >
      Neues Video
      <v-icon dark right>fas fa-redo-alt</v-icon>
    </v-btn>

    <v-checkbox v-model="selectNextVideo" label="Auswahl"></v-checkbox>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import VideoService from "../../services/VideoService";

@Component({})
export default class VideoNavigation extends Vue {
  @Prop() seriesId!: string;
  private videoService = new VideoService();

  get selectNextVideo() {
    return this.$store.state.selectNextVideo;
  }

  set selectNextVideo(value) {
    this.$store.commit("updateselectNextVideo", value);
  }

  private goToRandomVideo() {
    this.videoService.goToRandomVideo(this.seriesId);
  }

  updateMessage(event) {
    this.$store.commit("updateselectNextVideo", event.target.value);
  }
}
</script>

<style scoped>
.ms--video-navigation-container {
  display: flex;
  flex-direction: row;
}
</style>
