<template>
  <div class="grid">
    <div class="mv--type-selection-view">
      <div class="mv--type-selection-items">
        <div
          class="mv--type-selection-item beforeIntroAnimation"
          v-on:animationend="removeNotAnimated"
          v-for="type in this.$store.state.seriesTypes"
          :key="type"
          v-on:click="goToRandomVideo(type)"
        >
          <img
            class="mv--type-selection-image"
            :src="require('@/assets/images/types/' + type + '.jpg')"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import ImageService from "../services/ImageService";
import VideoService from "../services/VideoService";
import VideoSelector from "../components/VideoSelector.vue";

@Component({})
export default class TypeSelection extends Vue {
  private videoService = new VideoService();
  removeNotAnimated(event) {
    event.target.classList.remove("beforeIntroAnimation");
  }

  goToRandomVideo(seriesId: string) {
    this.videoService.goToRandomVideo(seriesId);
  }
}
</script>

<style scoped lang="scss">
.mv--type-selection-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.mv--type-selection-item {
  height: 300px;
  transition: all 0.2s ease-in-out;
}

.mv--type-selection-item.beforeIntroAnimation {
  animation-duration: 0.5s;
  animation-name: scaleAndRotate;
}

.mv--type-selection-item:hover {
  transform: scale(1.5);
}

.mv--type-selection-image {
  max-width: 100%;
  max-height: 100%;
  border: 10px solid white;
}
</style>
