<template>
  <div class="home">
    <VideoPlayer :seriesId="$route.params.seriesId" :id="$route.params.id" />
  </div>
</template>

<script>
import VideoPlayer from "@/components/VideoPlayer.vue";
import VideoSelector from "@/components/VideoSelector.vue";

export default {
  name: "mausviewer",
  components: {
    VideoPlayer
  }
};
</script>
