<template>
  <div class="mv--preview-container">
    <router-link :to="{ name: 'Video', params: { id: videoTitle } }" replace>
      <img class="mv--preview-canvas" :src="imageSource" />
      <div class="mv--preview-canvas-overlay"></div>
    </router-link>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import VideoService from "../services/VideoService";

@Component
export default class VideoSelector extends Vue {
  private videoService = new VideoService();
  private videoTitle: string = this.videoService
    .getRandomVideoSource(this.$store.state.seriesId)
    .replace(this.$store.state.seriesId + "/", "")
    .replace(".mp4", "");
  private imageSource = require("@/assets/videos/maus/preview/0101.jpg");

  mounted() {
    this.imageSource = require("@/assets/videos/" +
      this.$store.state.seriesId +
      "/preview/" +
      this.videoTitle +
      ".jpg");
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.mv--preview-canvas {
  width: 355px;
  height: 200px;
  border: 10px solid white;
  margin: 20px;
  animation: scaleAndRotate;
}

.mv--preview-canvas-overlay {
  content: "1";
  z-index: 1000;
  position: relative;
  right: -50px;
}

.mv--preview-canvas:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
</style>
