<template>
  <div class="mv--main-container">
    <div class="mv--content-container">
      <div v-if="!isCompleted" class="mv--video-player-container">
        <img clas="mv--maus-image" src="@/assets/maus.png" />
        <div class="mv--video-canvas-container">
          <video
            class="mv--video-canvas"
            :src="videoSource"
            autoplay
            controls
          ></video>
        </div>
      </div>
      <div v-if="isCompleted" class="mv--video-selector-container">
        <div class="mv--video-selector-row">
          <VideoSelector />
          <VideoSelector />
        </div>
        <img class="mv--elefant-image" :src="protagonistImage" />
        <div class="mv--video-selector-row">
          <VideoSelector />
          <VideoSelector />
        </div>
      </div>
    </div>
    <div class="mv--nav-container">
      <VideoNavigation :seriesId="seriesId"></VideoNavigation>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import VideoSelector from "../components/VideoSelector.vue";
import VideoNavigation from "../components/navigation/VideoNavigation.vue";

import ImageService from "../services/ImageService";
import VideoService from "../services/VideoService";

@Component({
  components: {
    VideoSelector,
    VideoNavigation
  }
})
export default class VideoPlayer extends Vue {
  @Prop({ default: "0101" }) id!: string;

  private seriesId = this.$store.state.seriesId;
  private isCompleted = false;
  private videoSource = require("@/assets/videos/" +
    this.seriesId +
    "/" +
    this.id +
    ".mp4");

  private videoService = new VideoService();
  private imageService = new ImageService();
  private protagonistImageFile = this.imageService.getRandomProtagonistImage();
  private protagonistImage = require("@/assets/images/protagonists/" +
    this.protagonistImageFile);

  mounted() {
    if (this.id === null || this.id === "" || this.id === undefined) {
      this.id = this.videoService.getRandomVideoSource(this.seriesId);
    }
    this.videoSource = require("@/assets/videos/" +
      this.seriesId +
      "/" +
      this.id +
      ".mp4");
    this.registerListeners();
  }

  public registerListeners() {
    const videoElement =
      document.querySelector(".mv--video-canvas") || new HTMLVideoElement();
    videoElement.addEventListener("play", this.onVideoStarted, false);
    videoElement.addEventListener("ended", this.onVideoEnded, false);
  }

  private onVideoStarted(event) {
    const videoPlayer: HTMLElement =
      document.querySelector(".mv--video-player-container") ||
      new HTMLElement();
    event.target.classList.add("fadeInAnimation");
    event.target.play();
  }

  private onVideoEnded(event) {
    if (this.$store.state.selectNextVideo === true) {
      this.goToRandomVideo();
    }
    this.isCompleted = true;
  }

  private goToRandomVideo() {
    this.videoService.goToRandomVideo(this.seriesId);
  }
}
</script>

<style scoped lang="scss">
.mv--main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.mv--content-container {
  height: calc(100vh - 70px);
}

.mv--video-player-container {
  display: flex;
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.mv--video-canvas-container {
  height: calc(100vh - 200px);
  border: 10px solid white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: white;
}

.mv--video-canvas {
  max-height: 100%;
  opacity: 0;
}

.mv--video-canvas.fadeInAnimation {
  max-height: 100%;
  animation: fadeIn;
  animation-fill-mode: forwards;
}

.mv--elefant-image {
  height: 200px;
}

.mv--video-selector-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
</style>
