<template>
  <div id="app">
    <v-app>
      <router-view :key="$route.fullPath" />
    </v-app>
  </div>
</template>

<script>
  import { USER_REQUEST } from "./store/actions/user";
  import { Component, Vue } from "vue-property-decorator";
 
  export default {
  name: "app",
  created: function() {
    if (this.$store.getters.isAuthenticated) {
      this.$store.dispatch(USER_REQUEST);
    }
  }
}
</script>

<style lang="scss">
.v-application--wrap {
  background-image: url("./assets/background-pattern.png");
  background-repeat: repeat;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
